@page "/Manage/Slider/AddEdit"
@page "/Manage/Slider/AddEdit/{SliderId:int}"

@inherits Safarset2.Class.CrudComponent<Safarset.Datalayer.Context.Entities.Slide, Safarset.ViewModel.Entities.SlideDto, int, Safarset.Service.Services.ISlideService>

<EditForm Model="SlideDto" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    @ErrorMessage
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">
                    تصویر
                </label>
                <InputFile OnChange="@LoadFiles" accept=".jpg" />

            </div>
        </div>
        <div class="col-4">
            <div class="mb-3">
                <label class="form-label">
                    تصویر نمایش داده شود
                </label>
                <InputCheckbox @bind-Value="SlideDto.IsVisible"></InputCheckbox>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-success float-end">
                <i class="fas fa-check"></i>
                ثبت
            </button>
            <a href="Manage/Slider" class="btn btn-warning float-end mx-2">
                <i class="fas fa-ban"></i>
                انصراف
            </a>
        </div>
    </div>
</EditForm>